.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 20vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.tone {
  float: left;
  display: inline-block;
  width: 100px;
  height: 100px;
  border-radius: 100px;
  line-height: 100px;
  margin: 10px;
  background-color: tomato;
  transition: all 1s;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, .7);
}

.tone:hover {
  background-color: white;
  color: tomato;
  transition: all 0.1s;
}

.hover {
  background-color: white;
  color: tomato;
  transition: all .3s;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
